<div class="container">
    <a class="title-bar" [routerLink]="['']">
        <img class="ico" src="/assets/icons/bugloos-logo.svg" alt="Bugloos-Logo">
        <span class="text">Dynamic Forms</span>
    </a>
    <div class="user-account">
        
        <div class="user-profile">
            <div class="user-img">
                <img class="ico"
                     src="/assets/icons/user.png"
                     alt="User Profile">
            </div>
            <div class="user-name">
                <div>Moslem Shahsavan</div>
            </div>
            <div class="user-email en-text">
                <a href="mailto:m90k7@outlook.com">m90k7@outlook.com</a>
            </div>
        </div>
    </div>
</div>